$items-width: 80%;
.chapter_questions {
  text-align: center;
  &_container {
    position: relative;
    pointer-events: none;
    transition: all 0.2s ease-out;
    position: fixed;
    height: 100vh;
    max-width: 100vw;
    left: 0;
    right: 0;
    background: white;
    overflow-x: hidden;
    overflow-y: scroll;
    padding-bottom: 100px;
    padding-top: 55px;
    pointer-events: all;
    opacity: 1;
    bottom: 0;
    h4,
    h3 {
      font-weight: 300;
    }
    h4 {
      max-width: $items-width;
      margin-bottom: 50px;
    }
    h3 {
      max-width: $items-width;
      font-weight: 500;
    }
    .alert {
      min-width: 50%;
      max-width: $items-width;
    }
    .ctas {
      margin-top: 20px;
      width: $items-width;
      display: flex;

      flex-direction: column;
      justify-content: center;
      align-items: stretch;
      .btn {
        margin-bottom: 10px;
        padding: 15px;
        text-align: left;
        &:focus,
        &:active {
          outline: none;
          box-shadow: none;
        }
      }
      .actions {
        display: flex;
        justify-content: space-between;
        .btn-danger {
          min-width: 150px;
          text-align: center;
        }
      }
    }
    .question {
      margin-top: 20px;
      opacity: 0;
      pointer-events: none;
      transition: all 0.2s ease-out;
      width: 100%;
      pointer-events: all;
      opacity: 1;
      .question_num {
        $circle-size: 30px;
        transition: border-radius 0.3s ease-out;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 15px;
        width: $circle-size;
        height: $circle-size;
        font-weight: bold;
        border: 1px solid black;
        margin-right: 10px;
        border-radius: 100%;
      }
      .option_btn {
        display: flex;
        align-items: center;
        &.selected {
          .question_num {
            border-radius: 10%;
            border: 1px solid white;
          }
        }
      }
      &.responded {
        .option_btn {
          pointer-events: none;
          &:not(.btn-dark) {
            opacity: 0.5;
          }
        }
      }
    }
    .actions {
      display: flex;
      margin-top: 50px;
      width: 100%;
      justify-content: space-between;
      position: fixed;
      bottom: 0;
      left: 0;
      padding: 20px;
      border-top: 1px solid $color-dark-gray;
      background: $color-light-gray;
      z-index: $zindex-fixed;
      .btn {
        padding: 15px 20px;
        &.move_left {
          margin-right: 150px;
        }
      }
    }
  }
  &_resume {
    .header {
      width: 100%;
      padding: 20px;
      background-color: $color-danger;
      &.success {
        background-color: $color-success-b;
      }
      h3,
      p {
        color: white;
      }
    }
    .resume {
      margin-top: 20px;
      ul {
        list-style-type: none;
        li {
          opacity: 0.7;
          margin-bottom: 10px;
          margin-top: 7px;
        }
      }
    }
  }
}
@media screen and (max-width: 765px) {
  .chapter_questions {
    text-align: center;
    &_container {
      h3 {
        margin-top: 50px;
        max-width: 100%;
        width: 100%;
      }
      h4 {
        max-width: 100%;
      }
      .question {
        .question_num {
          display: none;
        }
      }
      .ctas,
      .actions {
        max-width: 100%;
        width: 100%;
        .btn {
          &.move_left {
            margin-right: 50px;
          }
        }
      }
      .alert {
        max-width: 100%;
      }
      .actions {
        .btn {
          padding: 25px 15px;
        }
      }
    }
  }
}
