.no_scroll_bar {
  &::-webkit-scrollbar {
    display: none;
  }
}
.custom_scrollbar{
  &::-webkit-scrollbar{
    width: 10px;
  }
  &::-webkit-scrollbar-track{
    background-color: $color-dark;
  }
  &::-webkit-scrollbar-thumb{
    background-color: $color-light;
    border-radius: 10px;
  }
}
.green_theme{
  .custom_scrollbar{
    &::-webkit-scrollbar-track{
      background-color: $color-green-table;
    }
    &::-webkit-scrollbar-thumb{
      background-color: $color-green-button;
      border-radius: 10px;
    }
  }
}