.notifications-container {
  width: 60%;
}
.notification_item{
  p{
    padding: 10px 0;
  }
  .ctas_time{
    display: flex;
    width: 30%;
    align-items: flex-start;
    justify-content: flex-end;
    text-align: right;
    position: relative;
    align-self: stretch;
    padding: 0 15px;
    .btn{
      bottom: 0;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      position: absolute;
      z-index: 10;
    }
  }
}

@media screen and (max-width: 765px) {
  .notifications-container {
    width: 100%;
  }
}
