.pricing_page {
  .hero {
    padding: 10px;
    min-height: 300px;
    border: 1px solid #6f6f6f;
    background-position-y: center;
    img {
      width: 150px;
    }
  }
  h1,
  h2 {
    margin: 40px 0;
  }
}
